<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Form Validation</title>
<link rel="stylesheet" href="/style.css">
</head>
<body>

<form action="/submit" method="POST" onsubmit="return validateForm()">

<input type="text" name="name" placeholder="Enter Name">

<input type="email" name="email" placeholder="Enter Email">

<input type="password" id="password" name="password" placeholder="Enter Password">

<p id="error" style="color:red"></p>

<button type="submit">Register</button>

</form>

<script src="/script.js"></script>

</body>
</html>