<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User API</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>User List</h1>

    <input type="text" id="name" placeholder="Enter Name">

    <button onclick="addUser()">Add User</button>

    <ul id="list"></ul>

<script src="/script.js"></script>

</body>
</html>